body {
    margin: 0%;
    min-height: 100vh;
}


h2 {
    margin: 100px 120px 22px 360px; 
}
p {
    opacity: 45;
    color: gray;
    font-size: smaller;
}
.rectangle {
    width: 300px;
    height: 1px;
    background-color: black;
    margin: 5px;
}
.rectangle1 {
    width: 300px;
    height: 1px;
    background-color: black;
    margin: 5px 5px 45px 5px;
}
.rectangle2 {
    width: 353px;
    height: 43px;
    border-radius: 32px;
    background-color: blue;
    text-align: center;
    font-size: 25px;
    vertical-align: text-bottom;
    margin: 75px 0px 0px 0px ;
    stroke-opacity:34% ;
}
.conteiner {
    margin: 150px 250px 0px 450px;
}
.continue {
    width: 353px;
    height: 43px;
    background-color: white;
    text-align: center;
    opacity: 70%;
    margin: 65px 0px 0px 0px ;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span {
    color: blue;
}
.font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.font1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.password {
    margin-top: 50px;
}input {
    border: none;
}